@tailwind base;
@tailwind components;
@tailwind utilities;







.navbar-nav li a{
  font-size: 17px;
}
.navbar-brand{
  letter-spacing: 3px;
}


nav {
  width: 100%;
}
/* No changes needed for nav */
ul {
  @apply list-none m-0 p-0 overflow-hidden border border-purple-600 bg-black;
}
li {
  @apply float-left;
}
li a {
  @apply block text-white text-center py-4 px-4 no-underline text-lg;
}
li a:hover {
  @apply text-black bg-white;
}
li a.active {
  @apply text-black bg-white;
}
